<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Actions</key>
	<array>
		<dict>
			<key>AppleScript File</key>
			<string>goldendict.applescript</string>
			<key>Image File</key>
			<string>goldendict.png</string>
			<key>Title</key>
			<string>Goldendict.Translate</string>
		</dict>
	</array>
	<key>Credits</key>
	<array>
		<dict>
			<key>Name</key>
			<string>dongmu</string>
		</dict>
	</array>
	<key>Extension Description</key>
	<string>Translate word with goldendict.</string>
	<key>Extension Identifier</key>
	<string>com.dongmu.popclip.extension.goldendict</string>
	<key>Extension Image File</key>
	<string>goldendict.png</string>
	<key>Extension Name</key>
	<string>goldendict v1</string>
	<key>Required OS Version	</key>
	<string>10.13</string>
</dict>
</plist>
